.indi_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  color: var(--text);
}
.ind_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
